body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.centeralize-page {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.centerheading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px
}

.locationtyperbac {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    align-items: stretch;
}

.policyandrecommendations {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    align-items: stretch;
}

.table-data {
    flex-grow: 1;
}

.widthtable {
    width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: yellowgreen;
    border-collapse: collapse;
    font-size: 12px;
}

th,
td {
    border: 1px solid rgb(206, 239, 255);
    padding: 5px 5px;
    text-align: left;
}

thead th {
    background-color: rgb(0, 162, 255);
    color: white;
    width: auto;
}

tbody tr:nth-child(odd) {
    background-color: rgb(206, 239, 255);
}

tbody tr:nth-child(even) {
    background-color: white;
}

input {
    background-color: transparent;
    border: 0;
    color: black;
    font-family: sans-serif;
    font-size: 10px;
}

input[type=submit] {
    background-color: rgb(206, 239, 255);
    border: 1px solid;
    font-family: sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    color: brown;
    padding: 5px;
    border-radius: 2px;
}

input[type=text] {
    width: 1000px;
    box-sizing: border-box;
    border: 1px;
    height: 30px
}

#bodyheader {
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(0, 162, 255);
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.nav_btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    align-items: stretch;
}

#managementgroup {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

#subscription {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

#logsearch {
    width: 1000px;
    border: 1px solid;
    margin-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
}