<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
        <div class = "centerheading">App Service Plans</div>
            <table class = "table-data">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Kind</th>
                        <th>SKUName</th>
                        <th>SKUTier</th>
                        <th>SKUSize</th>
                        <th>family</th>
                        <th>capacity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in appserviceplans %}
                        <tr>
                            <td>{{items['name']}}</td>
                            <td>{{items['location']}}</td>
                            <td>{{items['Kind']}}</td>
                            <td>{{items['SKUName']}}</td>
                            <td>{{items['SKUTier']}}</td>
                            <td>{{items['SKUSize']}}</td>
                            <td>{{items['family']}}</td>
                            <td>{{items['capacity']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="footer">
                {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
            </div>
       
        
    </body>
</html>
