<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
        <div class = "centerheading">Compliance Checks</div>
            <table style="margin-top:70px">
                <thead>
                    <tr>
                        <th>Compliance Name</th>
                        <th>Status</th>
                        <th>Resource</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in compliancecheck_details %}
                        <tr>
                            <td>{{ items['ComplianceName'] }}</td>
                            {% if items['Status'] == "Failed" %}<td>{{ items['Status'] }}</td>{% endif %}
                            <td>{{ items['Resource'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/home" method = "post">
                <input type="submit" value="View Full Report">
            </form>
            <div id="footer">
                {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
            </div>
        
    </body>
</html>
