<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <script src="{{ url_for('static', filename='coreactivitysearchjs.js') }}"></script>
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>

        <div class = "centerheading">Activity Logs</div>
        <input type="text" id="logsearch" onkeyup="searchActivity()" placeholder="Search for logs..">
            <table id="activitylogtable">
                <thead>
                    <thead>
                        <tr>
                            <th>
                                Activity Type
                            </th>
                            <th>
                                Caller
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Resource
                            </th>
                            <th>
                                Resource Type
                            </th>
                            
                            <th>
                                Status
                            </th>
                            <th>
                                Event Time Stamp
                            </th>
                        </tr>
                    </thead>
                </thead>
                <tbody>
                    {% for items in activity_logs %}
                                <tr>
                                    <td>
                                        {{ items['Action'] }}
                                    </td>
                                    <td>
                                        {{ items['Caller'] }}
                                    </td>
                                    <td>
                                        {{ items['Category'] }}
                                    </td>
                                    <td>
                                        {{ items['Resource'] }}
                                    </td>
                                    <td>
                                        {{ items['ResourceType'] }}
                                    </td>
                                    <td>
                                        {{ items['Status'] }}
                                    </td>
                                    <td>
                                        {{ items['EventTime'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                </tbody>
            </table>
            
        
        
    </body>
</html>
