<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
            <table style="margin-top:70px">
                <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Rule</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in assesment_unhealthy %}
                        <tr>
                            <td>{{ items['Resource'] }}</td>
                            <td>{{ items['Rule'] }}</td>
                            <td>{{ items['Status'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table style="margin-top:70px">
                <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Rule</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in assesment_healthy %}
                        <tr>
                            <td>{{ items['Resource'] }}</td>
                            <td>{{ items['Rule'] }}</td>
                            <td>{{ items['Status'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/home" method = "post">
                <input type="submit" value="View Full Report" style="margin-left:auto; margin-right:auto">
            </form>
            <div id="footer">
                {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
            </div>
        
    </body>
</html>
