<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div class="locationtyperbac">
            {% block type %}
                <table class = "table-data">
                    <thead>
                        <tr>
                            <th>Resource Type</th>
                            <th>Count</th>
                            <th>See Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in res_type.items() %}
                            <tr>
                                <td class = "key-data">{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>
                                    <form action="/resourcetype" method="post" role="form">
                                        <input type="hidden" id="resourcetype" name="resourcetype" value="{{ key }}">
                                        <input type="submit" name="submit" value="View Details" class="btn btn-info">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
            {% block location %}
                <table class = "table-data">
                    <thead>
                        <tr>
                            <th>Resource Location</th>
                            <th>Count</th>
                            <th>See Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in res_location.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>
                                    <form action="/resourcelocation" method="post" role="form">
                                        <input type="hidden" id="location" name="location" value="{{ key }}">
                                        <input type="submit" name="submit" value="View Details" class="btn btn-info">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
                {% block rbac %}
                <table class = "table-data">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Count</th>
                            <th>See Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in res_rbac.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>
                                    <form action="/rbac" method="post" role="form">
                                        <input type="hidden" id="rbactype" name="rbactype" value="{{ key }}">
                                        <input type="submit" name="submit" value="View Details" class="btn btn-info">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            {% endblock %}
        </div>
        <div id="policy">
            
            {% block policy %}
                <table class = "table-data">
                    <thead>
                        <tr>
                            <th>Policy Assignment Name</th>
                            <th>policyDefinitionAction</th>
                            <th>Resource</th>
                            <th>policySet Definition Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in policy[:5] %}
                            <tr>
                                <td>{{ items['policyAssignmentName'] }}</td>
                                <td>{{ items['policyDefinitionAction'] }}</td>
                                <td>{{ items['Resource'] }}</td>
                                <td>{{ items['policySetDefinitionCategory'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        <div>
            {% block recommendations %}<p>{{ recommendations }}</p>{% endblock %}
        </div>
        <div class="activitylog">
            <table class = "table-data">
                <thead>
                    <tr>
                        <th>Activity Type</th>
                        <th>Caller</th>
                        <th>
                            Category
                        </th>
                        <th>
                            Resource ID
                        </th>
                        <th>
                            Resource Type
                        </th>
                        <th>
                            Operation
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Event Time Stamp
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in activity_logs[:10] %}
                        <tr>
                            <td>
                                {{ items['Action'] }}
                            </td>
                            <td>
                                {{ items['Caller'] }}
                            </td>
                            <td>
                                {{ items['Category'] }}
                            </td>
                            <td>
                                {{ items['ResourceId'] }}
                            </td>
                            <td>
                                {{ items['ResourceType'] }}
                            </td>
                            <td>
                                {{ items['OperationName'] }}
                            </td>
                            <td>
                                {{ items['Status'] }}
                            </td>
                            <td>
                                {{ items['EventTime'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="footer">
            {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
        </div>
    </body>
</html>
