<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static/bootstrap/css', filename='style.css') }}" />
        {% block head %}            
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block type %}
                <p>
                    <table id = "data">
                        <th>Resource Type</th>
                        <th> Count </th>
                        {% for key, value in res_type.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </p>
            {% endblock %}
        </div>
        <div id="content">
            {% block location %}
                <p>
                    <table>
                        {% for key, value in res_location.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td><form action="/resourcelocation" method="post" role="form">
                                    <input type="hidden" id="location" name="location" value="{{ key }}">
                                    <input type="submit" name="submit" value="View Details" class="btn btn-info">
                                </form></td>         
                               
                            </tr>
                        {% endfor %}
                    </table>
                </p>
            {% endblock %}
        </div>
        <div id="content">
            {% block rbac %}
                <p>
                    {{res_rbac}}
                </p>
            {% endblock %}
        </div>
        <div id="content">
            {% block recommendations %}
                <p>
                    {{recommendations}}
                </p>
            {% endblock %}
        </div>
        <div id="content">
            {% block policy %}
                <p>
                    {{policy}}
                </p>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
        </div>
    </body>
</html>
