<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id = "centeralize-page">
            <table class = "table-data">
                <thead>
                    <tr>
                        <th>Object Type</th>
                        <th>Object Name</th>
                        <th>Scope</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dict_items in rbac_details %}
                        <tr>
                            {% if "appId" in dict_items %}
                                <td>Service Principal</td>
                                <td>{{ dict_items["displayName"] }}</td>
                                <td>{{ dict_items["scope"] }}</td>
                            {% elif "groupTypes" in dict_items %}
                                <td>Group</td>
                                <td>{{ dict_items["displayName"] }}</td>
                                <td>{{ dict_items["scope"] }}</td>
                            {% elif "givenName" in dict_items %}
                                <td>User</td>
                                <td>{{ dict_items["displayName"] }}</td>
                                <td>{{ dict_items["scope"] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="footer">
                {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
            </div>
        </div>
    </body>
</html>
