<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id = "rbac_details">
            <p>
                <table>
                    <tr>
                        <th>Object Type</th>
                        <th>Object Name</th>
                    </tr>
                    {% for dict_items in rbac_details %}
                        <tr>
                            {% if "appId" in dict_items %}
                                <td>Service Principal</td>
                                <td>{{ dict_items["displayName"] }}</td>
                            {% elif "groupTypes" in dict_items %}
                                <td>Group</td>
                                <td>{{ dict_items["displayName"] }}</td>
                            {% elif "givenName" in dict_items %}
                                <td>User</td>
                                <td>{{ dict_items["displayName"] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </p>
        </div>
        <div id="footer">
            {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
        </div>
    </body>
</html>
