<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id = "rbac_details">
            <p>
                <table>
                    <th>Object Name</th>
                    <th>Object Type</th>
                    {% for dict_items in rbac_details %}
                        <tr>
                            {{dict_items}}
                        </tr>
                    {% endfor %}
                </table>
            </p>
        </div>
        <div id="footer">
            {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
        </div>
    </body>
</html>
