<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
        <div class = "centerheading">Resource by Type</div>
                <table class = "table-data">
                    <tr>
                        <th>Resource ID</th>
                        <th>Resource Location</th>
                        <th>Resource Name</th>
                        <th>Resource Type</th>
                    </tr>
                    {% for items in resourcetype %}
                        <tr>
                            <td>{{ items['id'] }}</td>
                            <td>{{ items['location'] }}</td>
                            <td>{{ items['name'] }}</td>
                            <td>{{ items['type'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            
        
    </body>
</html>
