<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>
                {% block title %}{% endblock %}
            Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div>
                <table class = "table-data">
                    <tr>
                        <th>Resource Name</th>
                        <th>Resource Location</th>
                        <th>Resource Type</th>
                        <th>Resource Tags</th>
                    </tr>
                    {% for items in resourcebylocation %}
                        <tr>
                            <td>{{items['name']}}</td>
                            <td>{{items['location']}}</td>
                            <td>{{items['type']}}</td>
                            <td>{{items['tags']}}</td>
                            
                        </tr>
                    {% endfor %}
                </table>
        </div>
        
    </body>
</html>
