<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
        <div class = "centerheading">Storage Accounts</div>
       
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Kind</th>
                        <th>SKUName</th>
                        <th>SKUTier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dict_items in storageaccounts %}
                        <tr>
                            <td>{{dict_items['name']}}</td>
                            <td>{{dict_items['location']}}</td>
                            <td>{{dict_items['Kind']}}</td>
                            <td>{{dict_items['SKUName']}}</td>
                            <td>{{dict_items['SKUTier']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="footer">
                {% block footer %}&copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.{% endblock %}
            </div>
        
        
    </body>
</html>
