<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            <title>
                {% block title %}{% endblock %}
            - Azure Subscription Scanner</title>
        {% endblock %}
    </head>
    <body>
        <div id="bodyheader"> Azure Custom Compliance Portal
        </div>
        <div class = "centerheading">Virtual Machines</div>
            <table class = "table-data">
                <tr>
                    <th>Resource Name</th>
                    <th>Resource Location</th>
                    <th>Hardware Profile</th>
                    <th>OS</th>
                    <th>OS Disk Type</th>
                    <th>Image reference</th>
                </tr>
                {% for items in virtualmachines %}
                    <tr>
                        <td>{{ items['name'] }}</td>
                        <td>{{ items['location'] }}</td>
                        <td>{{ items['hardwareProfile'] }}</td>
                        <td>{{ items['OS'] }}</td>
                        <td>{{ items['OSDiskType'] }}</td>
                        <td>{{ items['Imagereference'] }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        
    </body>
</html>
